@keyframes fadein {
    0% {
        opacity:0;
    }
    40%{
    	opacity:0;
    }
    100% {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    0% {
        opacity:0;
    }
    40%{
    	opacity:0;
    }
    100% {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

.col4{
	width: 33.33%;
	float: left;
}
.ciclo1{
    /*border: solid 1px #000;*/
    
    position: absolute;
    /*background: #f0f;*/
    
}
.contenedor{
	margin: 20px auto;
	width: 420px;
	height: 420px;
	position:fixed;
    top:20px;
    left:300px;
	/*background: #0f0 !important;*/
	
}

.contenedor1{
	margin: 20px auto;
	width: 420px;
	height: 420px;
	position:fixed;
    top:20px;
    left:900px;
	/*background: #0f0 !important;*/
	
}

.dutyEmpShow{
	position:fixed;
    top:550px;
    left:200px;

}

.dutyEmpShow1{
	position:fixed;
    top:550px;
    left:850px;

}

p{
    font-size£º70px;
}

body{
	text-align: center;
	color: #7b8993;
	/*font-family: 'Roboto', sans-serif;*/
	font-weight: 400;

}

.btn{
	width: 200px;
    padding: .37rem;
    margin: .37rem;
    background-color: #ffffff;
    border-radius: 4px;
    cursor: pointer;
    border: 2px solid #f35626;
    line-height: 1.375;
    font-weight: 700;
    color: #ffffff;
    
}

.add{
	width: 100px;
	font-size: 13px;
	border: 2px solid #40A4C0 !important;
	color: #40A4C0;
	margin: 20px auto;
}

.sc_object,.sc_center{
	transition:left 1s ease-out,top 1s ease-out;color: #ffffff;
}
#xinao{
	position:fixed;
    top:1px;
    left:100px;
}

#dianjian{
	position:fixed;
    top:1px;
    left:730px;
}
#xinaoCurrDuty{
	position:fixed;
    top:1px;
    left:310px;
}

#dianjianCurrDuty{
	position:fixed;
    top:1px;
    left:940px;
}