<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header">
<title> new document </title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
<meta name="author" content="" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<link rel="stylesheet" type="text/css" href="" />
<link rel="stylesheet" type="text/css" href=/css/appStyle/operation/duty/MonthDuty/addDutyEmp.css">
<script type="text/javascript"></script>

<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/appjs/operation/duty/MonthDuty/smartCycle.min.js"></script>
<META NAME="Description" CONTENT="Power by hill"> 
</head>
<body>
<style type="text/css">
	table{
		border:0;
		width:500px; 
	}
	.tdwidth1{
		width:40%;
	}
	.tdwidth2{
		width:20%;
	}
	.btnwidth{
		width:50%;
	}
	.selectwidth{
		width:200px;
	}
</style>
<form method="post" name="myform"> 
<table align="center"> 
	<tr><td colspan="4">&nbsp;</td></tr>
	<tr> 
		<td class="tdwidth"> 
			<select class="selectwidth"  multiple name="list1" size="12" ondblclick="moveOption(document.myform.list1, document.myform.list2)"> 
			<option th:each="list : ${userList}"> <span  th:text="${list}"></span> </option>
			</select> 
		</td> 
		<td>	&nbsp;	&nbsp;</td><td>	&nbsp;	&nbsp;</td>
		<td class="tdwidth2"> 
			<input type="button" class="btn  btn-primary" value="添加→" onclick="moveOption(document.myform.list1, document.myform.list2)">
			<br/> 
			<br/> 
			<input type="button" class="btn  btn-primary" value="←删除" onclick="moveOption(document.myform.list2, document.myform.list1)"> 
		</td> 
		<td>	&nbsp;	&nbsp;</td>
		<td class="tdwidth"> 
			<select class="selectwidth" id="emplist" multiple name="list2" size="12" ondblclick="moveOption(document.myform.list2, document.myform.list1)">
			<option th:each="list : ${dutyList}"> <span  th:text="${list}"></span> </option>
			</select> 
		</td> 
		<td>	&nbsp;	&nbsp;</td><td>	&nbsp;	&nbsp;</td>
		<td> 
			<button class="btn  btn-primary" onclick="changepos(list2,-1)" type="button">上移↑</button> 
			<br/> 
			<br/> 
			<button class="btn  btn-primary" onclick="changepos(list2,1)" type="button">下移↓</button> 
		</td> 
	</tr> 
	<tr><td colspan="4">&nbsp;</td></tr>
	<tr align="center"><td colspan="8"><button class="btn  btn-primary btnwidth" onclick="saveEmpList()" type="button">确定</button></td></tr>

</table> 

</form> 
<div th:include="include :: footer"></div>

<script language="JavaScript"> 
 
function saveEmpList(){
	 
	obj = document.getElementById("emplist");
	
	if(obj.length==0){
		layer.msg("不能清空值班人员");
		return;
	}  
	
	var str='';
	for(i=0;i<obj.length;i++){
	    str = str+obj[i].text+",";
	}
	//str = '';
//	console.log(str)
//	alert(str)
	  $.ajax({
			type:'POST',
			data:str,
			contentType:'application/x-www-form-urlencoded; charset=UTF-8',
			scriptCharset: 'GBK',
			url:'/duty/WeekDuty/saveXaEmpList',
			async:false,
			success:function(data){
				//console.log(data);
			},
			error:function(e){
				console.log("发送失败");
	    	}
		});  
		//sleep(1000);
	parent.reLoad();
	var index = parent.layer.getFrameIndex(window.name); // 获取窗口索引
	parent.layer.close(index);
}

function moveOption(e1, e2){ 
  try{ 
		for(var i=0;i<e1.options.length;i++){ 
		if(e1.options[i].selected){ 
		var e = e1.options[i]; 
		e2.options.add(new Option(e.text, e.value)); 
		e1.remove(i); 
		ii=i-1 
     } 
} 
   document.myform.city.value=getvalue(document.myform.list2); 
} 
   catch(e){} 
} 

function getvalue(geto){ 
var allvalue = ""; 
for(var i=0;i<geto.options.length;i++){ 
allvalue +=geto.options[i].value + ","; 
} 
return allvalue; 
} 
function changepos(obj,index) { 
if(index==-1){ 
if (obj.selectedIndex>0){ 
 var i=obj[obj.selectedIndex].text;
 obj[obj.selectedIndex].text=obj[obj.selectedIndex-1].text;
 obj[obj.selectedIndex-1].text=i;
 obj.selectedIndex=obj.selectedIndex-1;
} 
}  else if(index==1){ 
if (obj.selectedIndex<obj.options.length-1){ 
//obj.options[obj.selectedIndex].swapNode(obj.options[obj.selectedIndex+1]) 
	 var i=obj[obj.selectedIndex].text;
	 obj[obj.selectedIndex].text=obj[obj.selectedIndex+1].text;
	 obj[obj.selectedIndex+1].text=i;
	 obj.selectedIndex=obj.selectedIndex+1;
} 
}  
} 
</script> 
</body>
</html>